# .gitignore for code directory (affects content in this directory and in all subdirectories)

# Ignore Java class files.
*.class

# Ignore default PriorityPruner log
PriorityPruner.log

# Ignore Maven target folder
target
